<a href="https://colab.research.google.com/github/pavss/python2/blob/main/Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import datetime

**DataFrames**

In [2]:
players = ['Mary', 'Margie', 'Isabel', 'Pavan', 'Issac', 'Geo']

In [3]:
scores = [50,55,45,60,25,25]

In [4]:
game_summary = pd.DataFrame(
    {
        "name" : players,
        "scores" : scores
    }
)

In [6]:
game_summary

     name  scores
0    Mary      50
1  Margie      55
2  Isabel      45
3   Pavan      60
4   Issac      25
5     Geo      25

In [8]:
game_summary.loc[3, 'scores'] #get values associated with a specific index

60

In [9]:
game_summary.loc[:, 'scores']

0    50
1    55
2    45
3    60
4    25
5    25
Name: scores, dtype: int64

In [10]:
game_summary.loc[2, :]

name      Isabel
scores        45
Name: 2, dtype: object

In [14]:
game_summary['scores']

0    50
1    55
2    45
3    60
4    25
5    25
Name: scores, dtype: int64

In [17]:
game_summary[['name', 'scores']]

     name  scores
0    Mary      50
1  Margie      55
2  Isabel      45
3   Pavan      60
4   Issac      25
5     Geo      25

**ADD COLUMNS**

In [19]:
gender = ['female', 'female', 'female', 'male', 'male', 'male']
game_summary['gender'] = gender
game_summary

     name  scores  gender
0    Mary      50  female
1  Margie      55  female
2  Isabel      45  female
3   Pavan      60    male
4   Issac      25    male
5     Geo      25    male

In [20]:
game_summary['scores']

0    50
1    55
2    45
3    60
4    25
5    25
Name: scores, dtype: int64

In [21]:
game_summary.drop('name',axis=1) #remove columns

   scores  gender
0      50  female
1      55  female
2      45  female
3      60    male
4      25    male
5      25    male

In [22]:
game_summary.columns #get column names

Index(['name', 'scores', 'gender'], dtype='object')

In [23]:
game_summary.index #get row index

RangeIndex(start=0, stop=6, step=1)

In [24]:
game_summary.rename({'name':'first_name'}, axis = 1 ) #to rename columns

  first_name  scores  gender
0       Mary      50  female
1     Margie      55  female
2     Isabel      45  female
3      Pavan      60    male
4      Issac      25    male
5        Geo      25    male

**Deal with missing values**

In [29]:
sparse = pd.DataFrame({'a' : [1,2,3],
                       'b' : [np.nan, 4, np.nan],
                       'c' : [5, np.nan, np.nan]})
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [30]:
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [32]:
sparse.fillna(0)

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [33]:
sparse.dropna(axis=1)

   a
0  1
1  2
2  3

**Group by**

In [34]:
game_summary.groupby('gender').mean()

           scores
gender
female  50.000000
male    36.666667

In [42]:
above_40 = game_summary['scores'] > 40
above_40

0     True
1     True
2     True
3     True
4    False
5    False
Name: scores, dtype: bool

In [44]:
game_summary.groupby(above_40).mean()

        scores
scores
False     25.0
True      52.5

**Merge and Joining**

In [45]:
age = pd.DataFrame(
    {
        'name' : ['Pavan', 'Mary'],
        'age'  : ['23', '24']
    }
)

In [46]:
game_summary.merge(age, left_on='name', right_on='name')

    name  scores  gender age
0   Mary      50  female  24
1  Pavan      60    male  23

In [47]:
game_summary.merge(age, left_on='name', right_on='name', how='outer')

     name  scores  gender  age
0    Mary      50  female   24
1  Margie      55  female  NaN
2  Isabel      45  female  NaN
3   Pavan      60    male   23
4   Issac      25    male  NaN
5     Geo      25    male  NaN